@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="panel-group panel-primary">
        <div class="panel-heading">
            GameHub Global Service
        </div>
        <div class="panel-body" id="panel_Content">
            Content : {{ conTentMsg }}
        </div>
        <div class="panel-footer">
            <div class="btn btn-success" id="modalOpen">
                Jquery 모달
            </div>
        </div>
    </div>
</div>

@section scripts{ 
<script>

    $(document).on("click", "#modalOpen", function () {
        $("#modal").modal("show");
    });

    var app = new Vue({
        el: '#panel_Content',
        data: {
            conTentMsg: '안녕하세요 Vue!'
        }
    })

</script>
}
