@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "ServiceCenterMain";

    var apiUrl = Context.Session.GetString("ApiUrl");

}
<link href="~/css/light-bootstrap-dashboard.css" rel="stylesheet" />
<style>
    tr {
        background-color: #fff;
    }
</style>

<div class="header seMain_header">
    <div class="top_left_null"></div>
    <div class="top_center TopTitle">Service center</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<!-- 공지사항 -->
<div class="wrap">

    <div class="title"><h4 class="NoticeTitle">Notice</h4></div>
    <div class="col-md-12">
        <div class="card ">
            <div class="content">
                <div class="table-full-width topContent">
                    <table class="table">
                        <tbody id="Notice_List">
                            <tr class='service_on'>
                                <td class="NoticeTitle_Empty">There are no registered announcements.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- FAQ -->
    <div class="title"><h4 class="FaqTitle">FAQ</h4></div>
    <div class="col-md-12">
        <div class="card ">
            <div class="content">
                <div class="table-full-width topContent">
                    <table class="table">
                        <tbody id="Faq_List">
                            <tr class='service_on'>
                                <td class="FaqTitle_Empty">No registered FAQs.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- 바로가기 -->
    <div class="title"><h4 class="QutstionTitle">question</h4></div>
    <div class="col-md-12">
        <div class="btn_counsel BtnQutstion2" onclick="goQuestionCreate(2);">Payment inquiry</div>
        <div class="btn_counsel BtnQutstion1" onclick="goQuestionCreate(1);">question</div>
        <div class="btn_counsel BtnQutstion4" onclick="goQuestionCreate(4);">Contact us</div>
        <div class="btn_counsel BtnQutstion0" onclick="goQuestionList()">My inquiry history</div>
    </div>
</div>


<style>
    /*pre {
        border: 1px solid red;
        width: 100%;
    }*/

    .topContent {
        width: 100%;
        overflow-x: auto;
    }

</style>

@section Scripts{

    <script id="Faq_List_Tmpl" type="text/x-tmpl">
        <tr class='service_on' idx='${faq_idx}' stype='fa'>
            <td style='padding-left:10px;width:95%;'>${faq_title}</td>
            <td style='width:5%;' class='text-right'><i class='pe-7s-angle-down'></i></td>
        </tr>
        <tr id='fa_${faq_idx}' style='display:none;'>
            <td colspan='2' style='background:#E7E7E7;'>
                <pre class='text-left'>${faq_content}</pre>
            </td>
        </tr>
    </script>

    <script id="Notice_List_Tmpl" type="text/x-tmpl">
        <tr class='service_on' idx='${gn_idx}' stype='nt'>
            <td style='padding-left:10px;width:95%;'>${gn_title}</td>
            <td style='width:5%;' class='text-right'><i class='pe-7s-angle-down'></i></td>
        </tr>
        <tr id='nt_${gn_idx}' style='display:none;'>
            <td colspan='2' style='background:#E7E7E7;'>
                <pre class='text-left'>${gn_content}</pre>
            </td>
        </tr>
    </script>

    <script>

        var nLan = "@ViewBag.nLan";
        var sUserID = "@ViewBag.sUserID";
        var nGtype = "@ViewBag.nGtype";

        function goQuestionCreate(nQtype) {
            location.href = "/Home/ServiceCenterCUD?sb_idx=0&conType=C&nGtype=" + nGtype + "&sUserID=" + sUserID + "&nLan=" + nLan + "&nQtype=" + nQtype;
        }

        function goQuestionList() {
            location.href = "/Home/ServiceCenter?sUserID=" + sUserID + "&nLan=" + nLan + "&nGtype=" + nGtype;
        }

        function Noticeload() {
            var allData = {
                "lan_idx": nLan,
                "conType": "USER",
                "PageSize": 3,
                "PageNo": 1,
                "sbGtype": nGtype,
                "seKey": "",
                "seVal": ""
            };

            $.ajax({
                url: "@apiUrl/Home/GetNoticeList",
                type: 'POST',
                data: allData,
                success: function (data) {
                    if (data.item2 > 0) {
                        $("#Notice_List").text("");
                        $("#Notice_List_Tmpl").tmpl(data.item1).appendTo("#Notice_List");
                    }
                    
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Notice List Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                },
                complete: function () {
                    Faqload();
                }
            });
        }

        function Faqload() {
            var allData = {
                "lan_idx": nLan,
                "conType": "USER",
                "PageSize": 3,
                "PageNo": 1,
                "sbGtype": nGtype,
                "seKey": "",
                "seVal": ""
            };

            $.ajax({
                url: "@apiUrl/Home/GetFaqList",
                type: 'POST',
                data: allData,
                success: function (data) {
                    if (data.item2 > 0) {
                        $("#Faq_List").text("");
                        $("#Faq_List_Tmpl").tmpl(data.item1).appendTo("#Faq_List");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Faq List Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                }
            });
        }

        function jsonDataLoad() {
            $.ajax({
                url: "/Cmd/GetJsonRead",
                type: 'POST',
                data: { "filePath": "JsonData", "fileName": "gServiceCenterMain.json", "nLan": nLan },
                success: function (data) {
                    if (data.length > 0) {
                        $(".TopTitle").text(data[0].TopTitle);
                        $(".NoticeTitle").text(data[0].NoticeTitle);
                        $(".NoticeTitle_Empty").text(data[0].NoticeTitle_Empty);
                        $(".FaqTitle").text(data[0].FaqTitle);
                        $(".FaqTitle_Empty").text(data[0].FaqTitle_Empty);
                        $(".QutstionTitle").text(data[0].QutstionTitle);
                        $(".BtnQutstion1").text(data[0].BtnQutstion1);
                        $(".BtnQutstion2").text(data[0].BtnQutstion2);
                        $(".BtnQutstion3").text(data[0].BtnQutstion3);
                        $(".BtnQutstion4").text(data[0].BtnQutstion4);
                        $(".BtnQutstion5").text(data[0].BtnQutstion5);
                        $(".BtnQutstion6").text(data[0].BtnQutstion6);
                        $(".BtnQutstion0").text(data[0].BtnQutstion0);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                },
                complete: function () {
                    Noticeload();
                }
            });
        }

        $(document).ready(function () {
            jsonDataLoad()
        });

        $(document).on("click", ".service_on", function () {
            var idx = $(this).attr("idx");
            var stype = $(this).attr("stype");
            $("#" + stype + "_" + idx).show();
            $(this).removeClass("service_on");
            $(this).addClass("service_off");
            $(this).find(".pe-7s-angle-down").addClass("pe-7s-angle-up");
            $(this).find(".pe-7s-angle-down").removeClass("pe-7s-angle-down");
        });

        $(document).on("click", ".service_off", function () {
            var idx = $(this).attr("idx");
            var stype = $(this).attr("stype");
            $("#" + stype + "_" + idx).hide();
            $(this).removeClass("service_off");
            $(this).addClass("service_on");
            $(this).find(".pe-7s-angle-up").addClass("pe-7s-angle-down");
            $(this).find(".pe-7s-angle-up").removeClass("pe-7s-angle-up");
        });
    </script>
}