@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Terms";
    var apiUrl = Context.Session.GetString("ApiUrl");
}

<div class="header seMain_header">
    <div class="top_left_null"></div>
    <div class="top_center TopTitle">Terms</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<div id="terms_Container">
    <div class="guide_btns col-md-12 clearfix" id="TermsBtn">

    </div>

    <div class="guide_btns col-md-12 clearfix" id="TermsTextarea">

    </div>

</div>

@section Scripts{

    <script id="TermsBtn_Tmpl" type="text/x-tmpl">
        <div class="col-md-12 btn btn_terms" termidx="${gt_idx}" termType="${gt_type}" onclick="tersmShow('${gt_idx}');">${gt_type}</div>
    </script>

    <script id="TermsTextarea_Tmpl" type="text/x-tmpl">
        <div class="col-md-12" id="termb_${gt_idx}" style="display: none;">
            @*<pre class="termTextarea">${gt_term}</pre>*@
            <textarea class="termTextarea" readonly="" style="background-color: #414242; color: #fff; ">${gt_term}</textarea>
        </div>
    </script>

    <script>
        var height = ($(window).height() - 250);
        
    $(function () {
        jsonDataLoad();
    });

    function jsonDataLoad() {
            $.ajax({
                url: "/Cmd/GetJsonRead",
                type: 'POST',
                data: { "filePath": "JsonData", "fileName": "gTerms.json", "nLan": "@ViewBag.nLan" },
                success: function (data) {
                    if (data.length > 0) {
                        $(".TopTitle").text(data[0].TopTitle);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("JsonData Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                },
                complete: function () {
                    Terms();
                }
            });
        }

    function Terms() {

            var allData = {
                "lan_idx": "@ViewBag.nLan",
                "sbGtype": "@ViewBag.nGtype"
            };

            $.ajax({
                url: "@apiUrl/Home/GetTerms",
                type: 'POST',
                data: allData,
                success: function (data) {
                    if (data.length > 0) {
                        $("#TermsBtn_Tmpl").tmpl(data).appendTo("#TermsBtn");
                        $("#TermsTextarea_Tmpl").tmpl(data).appendTo("#TermsTextarea");

                        textHeight(data.length);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("GameGuide Error \n" + textStatus + " : " + errorThrown)
                }
            });
        }

        function textHeight(nCnt) {
            $(".termTextarea").css("height", (height - (nCnt * 15)) + "px");
        }

        function termHide() {
            $("div[id^='termb_']").each(function () {
                $(this).hide();
            });
        }

        function tersmShow(gtIdx) {
            $(".btn_terms").each(function () {
                if ($(this).attr("termidx") == gtIdx) {
                    termHide();
                    $("#termb_" + gtIdx).show();
                    $(".top_center").text($(this).attr("termType"));
                }
            })
        }
    </script>

}