
@{
    ViewData["Title"] = "Index";
}

<div class="header login_header">
    <div class="top_left_null"></div>
    <div class="top_center TopTitle">Play Casino</div>
    <div class="top_right"><i class="pe-7s-close"></i> </div>
</div>

<div class="row col-lg-12 login_content">
    <form id="LoginForm" name="LoginForm" method="post" action="/Login/GameLoginCallback">
        <div>
            @*정상적인 접근이 아닙니다.*@
            This is not a normal approach.
        </div>
    </form>
</div>

@section Scripts{

<script id="LoginForm_Tmpl" type="text/x-tmpl">
    <div class="logo">
        <img src="/images/BI_playcasino.svg" />
    </div>
    <input type="hidden" id="errCode" name="errCode" class="form-control " value="0" readonly="readonly" />
    <input type="hidden" id="lan_idx" name="lan_idx" class="form-control " value="@ViewBag.nLan" readonly="readonly" />
    <input type="hidden" id="Social" name="Social" class="form-control " value="5" readonly="readonly" />

    <div class="col-md-12">
        <input type="text" id="UserID" name="UserID" class="form-control " placeholder="${Input_UserId}" data-rule-required="true" data-msg-required="${InputErr_UserId}" />
    </div>
    @*<div class="col-md-12">
            <input type="text" id="Email" name="Email" class="form-control " placeholder="${Input_Email}" data-rule-email="true" data-rule-required="true" data-msg-required="${InputErr_Email}" />
        </div>*@
    <div class="col-md-12">
        <input type="password" id="PassWD" name="PassWD" class="form-control " placeholder="${Input_UserPwd}" data-rule-required="true" data-msg-required="${InputErr_UserPwd}" />
    </div>

    <div class="col-md-12">
        <div class="btn btnLogin Btn_Submit">${Btn_Submit}</div>
    </div>
    <div class="col-md-12 text-center login_fine">
        @*<a href="/Login/Idfind">${Link_IdFind}</a>&nbsp;*@
        <a href="/Login/Pwfind?nLan=@ViewBag.nLan">${Link_PwFind}</a>&nbsp;
    </div>
    <div class="col-md-12 text-center login_fine">
        <a href="/Login/Join?nLan=@ViewBag.nLan">${Btn_Join}</a>
    </div>
</script>

    <script>

    $(function () {

        jsonDataLoad();
    });

    $(document).on("click", ".btnLogin", formCh);

    function jsonDataLoad() {
        $.ajax({
            url: "/Cmd/GetJsonRead",
            type: 'POST',
            data: { "filePath": "JsonData", "fileName": "gLogin.json", "nLan": "@ViewBag.nLan"},
            success: function (data) {
                //console.log(data);

                if (data.length > 0) {
                    $("#LoginForm").text("");
                    $("#LoginForm_Tmpl").tmpl(data).appendTo("#LoginForm");
                    $(".TopTitle").text(data[0].TopTitle);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
            }
        });
    }

    function formCh() {

        if ($("#LoginForm").valid()) {
            $.ajax({
                url: "/Cmd/SetLogin",
                //url: "https://localhost:44355/Home/SetMemberLogin",     // Ajax 다이렉트는 성공
                type: 'POST',
                data: $("#LoginForm").serialize(),
                success: function (data) {
                    $("#errCode").val(data.rCnt);
                    alert(data.rVal);
                    if (data.rCnt == 0) {
                        $(".btnLogin").hide();
                        $("#LoginForm").submit();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                }
            });
        }
    }

    </script>
}