
@{
    ViewData["Title"] = "Join";
}

<input type="hidden" name="Referer" id="Referer" value="/Login?nLan=@ViewBag.nLan" />

<div class="header join_header">
    <div class="top_left"><i class="pe-7s-angle-left"></i></div>
    <div class="top_center TopTitle">Play Casino Join Membership</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<div id="JoinContainer">
    <form name="joinForm" id="joinForm">
        <div class="logo"><img src="~/images/BI_playcasino.svg"></div>
        <div class="col-md-12">
            <input type="text" id="gID" name="gID" class="form-control" placeholder="ID" data-rule-minlength="4" data-rule-sidCh="true" data-rule-maxlength="20" data-rule-required="true" data-msg-required="you can use 4~15 letters, numbers and perlods. Write the first letter In english word." />
            <div class="btn btn-default btnIdch">ID Check</div>
        </div>
        <div class="col-md-12 join_input_box">
            <input type="text" id="gEmail" name="gEmail" class="form-control" placeholder="Email" data-rule-email="true" data-rule-required="true" data-msg-required="Please enter your email address." />
        </div>
        <div class="col-md-12 join_input_box">
            <input type="password" id="gPass" name="gPass" class="form-control" placeholder="password" data-rule-pwdCk="true" data-rule-required="true" data-msg-required="Please enter a password." />
        </div>
        <div class="col-md-12 join_input_box">
            <input type="password" id="gPass1" name="gPass1" class="form-control" placeholder="Confirm Password" data-rule-equalto="#gPass" data-msg-equalto="Wrong password. enter a valld password" data-rule-required="true" data-msg-required="Please enter a password verification." />
        </div>
        <br />
        <div class="col-md-12">
            <div class="btn btn-default btnJoin">Sign Up</div>
            <div class="btn btn-danger btnCancel">Cancel</div>
        </div>
        <br />
    </form>
</div>

<form id="LoginForm" name="LoginForm" method="post" action="/Login/GameLoginCallback">
    <input type="hidden" id="errCode" name="errCode" class="form-control " value="0" readonly="readonly" />
    <input type="hidden" id="lan_idx" name="lan_idx" class="form-control " value="@ViewBag.nLan" readonly="readonly" />
    <input type="hidden" id="Social" name="Social" class="form-control " value="5" readonly="readonly" />
    <input type="hidden" id="UserID" name="UserID" class="form-control " readonly="readonly"/>
    <input type="hidden" id="PassWD" name="PassWD" class="form-control " readonly="readonly"/>
</form>

@section Scripts{
    <script id="JoinForm_Tmpl" type="text/x-tmpl">
        <input type="hidden" name="idCheck" id="idCheck" value="1" />
        <input type="hidden" name="InputErr_UserIdCheck" id="InputErr_UserIdCheck" value="${InputErr_UserIdCheck}" />
        <div class="logo"><img src="/images/BI_playcasino.svg"></div>
        <div class="col-md-12 join_input_box">
            <input type="text" id="gID" name="gID" class="form-control" placeholder="${Input_UserId}" data-rule-minlength="4" data-rule-sidCh="true" data-rule-maxlength="20" data-rule-required="true" data-msg-required="${InputErr_UserId}" />
            <div class="btn btn-default btnIdch">${Btn_IdCheck}</div>
        </div>
        <div class="col-md-12 join_input_box">
            <input type="text" id="gEmail" name="gEmail" class="form-control" placeholder="${Input_Email}" data-rule-email="true" data-rule-required="true" data-msg-required="${InputErr_Email}" />
        </div>
        <div class="col-md-12 join_input_box">
            <input type="password" id="gPass" name="gPass" class="form-control" placeholder="${Input_UserPwd}" data-rule-pwdCk="true" data-rule-required="true" data-msg-required="${InputErr_UserPwd}" />
        </div>
        <div class="col-md-12 join_input_box">
            <input type="password" id="gPass1" name="gPass1" class="form-control" placeholder="${Input_UserPwdCom}" data-rule-equalto="#gPass" data-msg-equalto="${InputErr_UserPwdCompare}" data-rule-required="true" data-msg-required="${InputErr_UserPwdCom}" />
        </div>
        <br />
        <div class="col-md-12">
            <div class="btn btn-default btnJoin">${Btn_Submit}</div>
            <div class="btn btn-danger btnCancel">${Btn_Cancel}</div>
        </div>
        <br />
    </script>

    <script>

        $.validator.addMethod("pwdCk", function (value, element) {
            return this.optional(element) || /^.*(?=^.{4,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@@#$%^&+=]).*$/.test(value);
        }, "Password should be a combination of 4~15 English letters and numbers. First letter should be capitalized.");

        $(document).ready(function () {
            jsonDataLoad();
        });

        // 취소
        $(document).on("click", ".btnCancel", function () {
            if (confirm($(".alert_cancel").attr("Msg"))) {
                location.href = "/Login/Index?nLan=@ViewBag.nLan";
            }
        });

        // 아이디 체크
        $(document).on("click", ".btnIdch" ,function () {
            // 기본 valida 체크
            if (idCheck($.trim($("#gID").val()))) {
                // 욕 필터 및 중복체크
                validate_user_text("gID");
            }
         });

        // 로그인 폼 체크
        $(document).on("click", ".btnJoin", function () {
            if ($("#joinForm").valid()) {

                //alert($("#gEmail").val());

                if (!$('#gID').is('[readonly]')) {
                    alert($("#InputErr_UserIdCheck").val());
                    return;
                }
                //GameLoginCallback(int Social, string UserID, string PassWD = "", int lan_idx = 1, int errCode=0)
                var allData = {
                    "lan_idx":"@ViewBag.nLan",
                    "UserID": $.trim($("#gID").val()),
                    "Email": $.trim($("#gEmail").val()),
                    "PassWD": $.trim($("#gPass").val()),
                    "Social": "5"
                }

                console.log(allData)

                $.ajax({
                    url: "/Cmd/SetJoin",
                    type: 'POST',
                    data: allData,
                    success: function (data) {
                        //console.log(data);
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            $("#UserID").val($.trim($("#gID").val()))
                            $("#PassWD").val($.trim($("#gPass").val()))
                            $("#PassWD").val($.trim($("#gPass").val()))
                            $(".btnJoin").hide();
                            $("#LoginForm").submit();
                            //location.href = "/Login/GameLoginCallback?gSocial=5&errCode=0&sUserID=" + $.trim($("#gID").val()) + "&sPass=" + $.trim($("#gPass").val()) + "&nLan=@ViewBag.nLan";
                            return;
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown);
                    }
                });
            }

        });


        function jsonDataLoad() {
            $.ajax({
                url: "/Cmd/GetJsonRead",
                type: 'POST',
                data: { "filePath": "JsonData", "fileName": "gJoin.json", "nLan": "@ViewBag.nLan"},
                success: function (data) {
                    if (data.length > 0) {
                        $("#joinForm").text("");
                        $("#JoinForm_Tmpl").tmpl(data).appendTo("#joinForm");
                        $(".TopTitle").text(data[0].TopTitle);
                        $(".alert_cancel").attr("Msg", data[0].alert_cancel);
                        $(".alert_idvalidation").attr("Msg", data[0].alert_idvalidation);
                        $(".alert_forbiddenword").attr("Msg", data[0].alert_forbiddenword);

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }



        function idCheck(id) {
            var reg_exp = new RegExp("^[a-zA-Z][a-zA-Z0-9]{3,11}$", "g");
            var match = reg_exp.exec(id);

            if (match == null || id.length < 4 || id.length > 16) {
                alert($(".alert_idvalidation").attr("Msg"));
                $("#gID").focus();
                return false;
            }
            return true;
        }

        // 비밀번호 정규식
        // 첫문자영어 특수문자 포함
        // /^.*(?=^.{4,15}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@@#$%^&+=]).*$/



        function reset_alert_count() {
            swear_alert_count = 0;
        }

        function validate_user_text(objID) {

            var swear_words_arr = new Array;

            $.ajax({
                url: "/Cmd/GetSlang",
                type: 'POST',
                success: function (data) {
                    var dSplit = data.split(",");
                    $.each(dSplit, function (index, value) {
                        //console.log(index + ":" + value.replace(/\'/g, ''));
                        swear_words_arr[index] = value.replace(/\'/g, '');
                    });

                    var swear_alert_arr = new Array;
                    var swear_alert_count = 0;

                    reset_alert_count();
                    var compare_text = $("#" + objID).val();
                    for (var i = 0; i < swear_words_arr.length; i++) {
                        for (var j = 0; j < (compare_text.length); j++) {
                            if (swear_words_arr[i] == compare_text.substring(j, (j + swear_words_arr[i].length)).toLowerCase()) {
                                swear_alert_arr[swear_alert_count] = compare_text.substring(j, (j + swear_words_arr[i].length));
                                swear_alert_count++;
                            }
                        }
                    }
                    var alert_text = "";
                    for (var k = 1; k <= swear_alert_count; k++) {
                        alert_text += "n" + "(" + k + ") " + swear_alert_arr[k - 1];
                    }
                    if (swear_alert_count > 0) {

                        alert(alert_text + $(".alert_forbiddenword").attr("Msg"));
                        $("#" + objID).select();
                        $("#idCheck").val(1);

                    } else {
                        $("#idCheck").val(0);

                        if ($("#idCheck").val() == "0") {

                            var allData = {
                                "lan_idx":"@ViewBag.nLan",
                                "UserID": $.trim($("#gID").val()),
                                "Social": "5"
                            }

                            $.ajax({
                                url: "/Cmd/GetUserIdCheck",
                                type: 'POST',
                                data: allData,
                                success: function (data) {
                                    //console.log(data);
                                    if (data.rCnt == 0) {
                                        $("#gID").attr("readonly", true);
                                        $(".btnIdch").hide();
                                    } else {
                                        $("#gID").val("");
                                        alert(data.rVal);
                                    }

                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("Login Local Error \n" + textStatus + " : " + errorThrown);
                                }
                            });
                        }

                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                    $("#idCheck").val(1);
                }
            });
        }

    </script>

}
<span class="alert_cancel" Msg=""></span>
<span class="alert_idvalidation" Msg=""></span>
<span class="alert_forbiddenword" Msg=""></span>