@*@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor*@
@{
    ViewData["Title"] = "Pwfind";
}

<input type="hidden" name="Referer" id="Referer" value="/Login?nLan=@ViewBag.nLan" />

<div class="header find_header">
    <div class="top_left"><i class="pe-7s-angle-left"></i></div>
    <div class="top_center TopTitle">Find Password</div>
    <div class="top_right"><i class="pe-7s-close"></i></div>
</div>

<div class="row col-lg-12 find_content">
    <form name="pwfindForm" id="pwfindForm">
        <div class="logo"><img src="~/images/BI_playcasino.svg"></div>
        <div class="col-md-12">
            <input type="text" id="gID" name="gID" class="form-control" placeholder="ID" data-rule-minlength="2" data-rule-maxlength="20" data-rule-required="true" data-msg-required="ID Input Please" />
        </div>
        <div class="col-md-12">
            <input type="email" id="gEmail" name="gEmail" class="form-control" placeholder="Email" data-rule-email="true" data-rule-required="true" data-msg-required="Email Input Please." />
        </div>

        <div class="col-md-12">
            <div class="btn btnfindmail">send to your password</div>
            <div class="btn btnfindCancel">Cancel</div>
        </div>
    </form>
</div>

@section Scripts{
    <script id="pwFindForm_Tmpl" type="text/x-tmpl">
        <input type="hidden" name="lan_idx" id="lan_idx" value="@ViewBag.nLan" />
        <input type="hidden" name="Social" id="Social" value="5" />
        <input type="hidden" name="UserIP" id="UserIP" value="@ViewBag.UserIp" />
        @*<input type="hidden" name="UserIP" id="UserIP" value="@HttpContextAccessor.HttpContext.Connection.RemoteIpAddress.ToString()" />*@
        <div class="logo"><img src="/images/BI_playcasino.svg"></div>
        <div class="col-md-12">
            <input type="text" id="UserID" name="UserID" class="form-control" placeholder="${Input_UserId}" data-rule-minlength="2" data-rule-maxlength="20" data-rule-required="true" data-msg-required="${InputErr_UserId}" />
        </div>
        <div class="col-md-12">
            <input type="email" id="Email" name="Email" class="form-control" placeholder="${Input_Email}" data-rule-email="true" data-rule-required="true" data-msg-required="${InputErr_Email}" />
        </div>

        <div class="col-md-12">
            <div class="btn btnfindmail">${Btn_Submit}</div>
            <div class="btn btnfindCancel">${Btn_Cancel}</div>
        </div>
    </script>

    <script>

    $(document).ready(function () {
        jsonDataLoad();
        $.validator.setDefaults({
            onkeyup: false
            , onclick: false
            , onfocusout: false
            , showErrors: function (errorMap, errorList) {
                if (errorList.length < 1)
                    return;
                alert(errorList[0].message);
            }
        });

        $(".btnLoginGo").click(function () {
            location.href = "/Home/Index";
        });

    })

    $(document).on("click", ".btnfindCancel", function () {
        location.href = "/Login/Index?nLan=@ViewBag.nLan";
    });

    $(document).on("click", ".btnfindmail", function () {
        pwformCheck();
    });

    function pwformCheck() {
        if ($("#pwfindForm").valid()) {
            $.ajax({
                url: "/Cmd/SetPwFind",
                type: 'POST',
                data: $("#pwfindForm").serialize(),
                success: function (data) {
                    alert(data.rVal);
                    if (data.rCnt == 1) {
                        location.href = "/Login";
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("find Local Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }
    }

    function jsonDataLoad() {
        $.ajax({
            url: "/Cmd/GetJsonRead",
            type: 'POST',
            data: { "filePath": "JsonData", "fileName": "gPwfind.json", "nLan": "@ViewBag.nLan"},
            success: function (data) {
                if (data.length > 0) {
                    //console.log(data);
                    $("#pwfindForm").text("");
                    $("#pwFindForm_Tmpl").tmpl(data).appendTo("#pwfindForm");
                    $(".TopTitle").text(data[0].TopTitle);
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("Login Temp Data Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
            }
        });
    }

    </script>

}