
@{
    ViewData["Title"] = "BlackJac";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<style>

    img {
        width: 50px;
        margin: 5px;
        padding: 2px;
    }

    #Card_Container div {
        display: inline-block;
    }

    /*#User_Container div {
        display: inline-block;
    }*/

    .choice {
        border: 1px dotted red;
    }

    .choiceReady {
        border: 1px solid blue;
    }

    .UserCard {
        display: inline-block;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                블랙젝 패 셋팅: 현재 설정 상태 <span id="SettingState"></span>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    <form method="post" id="holdemForm" name="holdemForm">
                        <input type="hidden" name="gNum" id="gNum" value="3" />
                        <input type="hidden" name="Rand" id="Rand" value="0" />
                        <div id="User_Container">
                            @*<div class="UserCard">
                                P
                                <input type="hidden" name="User_0" id="User_0" value="1" />
                                <input type="hidden" name="User_1" id="User_1" value="2" />
                                <input type="hidden" name="User_4" id="User_4" value="5" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_0" idx="1" UserIdx="0" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_1" idx="2" UserIdx="1" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_4" idx="4" UserIdx="4" />
                            </div>
                            <div class="DealerCard">
                                B
                                <input type="hidden" name="User_2" id="User_2" value="3" />
                                <input type="hidden" name="User_3" id="User_3" value="4" />
                                <input type="hidden" name="User_5" id="User_5" value="6" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_2" idx="3" UserIdx="2" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_3" idx="4" UserIdx="3" />
                                <img src="~/images/1.png" class="UserImg" id="UserImg_5" idx="6" UserIdx="5" />
                            </div>*@
                        </div>
                    </form>
                </div>
                <div class="col-lg-6">
                    <div id="Card_Container">
                        @{
                            for (var j = 1; j <= 52; j++)
                            {
                                var img = j + ".png";
                                <div><img src="~/images/@img" alt="@j" class="cardImg" id="img_@j" idx="@j" /> </div>

                                if (j % 13 == 0)
                                {
                                    <br />
                                }
                            }
                        }
                        <div><img src="~/images/0.png" alt="0" class="cardImg" id="img_0" idx="0" /> </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="btn btn-success" id="btnSubmit">저장</div>
                <div class="btn btn-danger" id="btnRand">랜덤</div>
                <div class="btn btn-warning" id="btnReset">리셋</div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script id="UserCards_Tmpl" type="text/x-tmpl">
    @*<div class="UserCard">
            <input type="hidden" name="User" id="User_${userCard}" value="${card}" />
            <img src="/images/${card}.png" class="UserImg" idx="${card}" UserIdx="${userCard}" />
        </div>*@
    {{each(i) list}}
    {{if (i % 12) == 0 && i > 0}}
    <br />
    {{/if}}
    <div class="UserCard">
        {{if (i % 12) == 0}}
        {{if i > 48}}
        딜러
        {{else}}
        유저
        {{/if}}
        {{/if}}
        <img src="/images/${userCard}.png" class="UserImg" id="UserImg_${i}" idx="${userCard}" UserIdx="${i}" />
        <input type="hidden" name="User" id="User_${i}" value="${userCard}" />
    </div>
    {{/each}}
</script>
    <script>
        $(function () {
            cardList($("#gNum").val());
        });

        function cardList(gNum) {
            $.ajax({
                url: "@ViewBag.ApiUrl/CardSet/GetCardList",
                type: 'POST',
                data: { "gNum": gNum},
                success: function (data) {
                    //console.log(data)
                    if (data.length == 0) {
                        console.log("없다면");
                    } else {
                        $(data).each(function (key, value) {
                            if (key == 0) {
                                if (value.rand == 0) {
                                    $("#SettingState").text("[ 패 셋팅 ]");
                                } else {
                                    $("#SettingState").text("[ 랜덤 셋팅 ]");
                                }
                            }
                        });
                        $("#User_Container").text("");
                        $("#UserCards_Tmpl").tmpl({ list: data}).appendTo("#User_Container");
                    }
                    imgchoiceSet();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("패설정 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    console.log(jqXHR);
                }
            });
        }

        $(document).on("click", "#btnRand", function () {
            $("#Rand").val(1);
            formSubmit();
        });

        $(document).on("click", "#btnSubmit", function () {
            $("#Rand").val(0);
            formSubmit();
        });

        function formSubmit() {
            $.ajax({
                url: "@ViewBag.ApiUrl/CardSet/SetBlackJac",
                type: 'POST',
                data: $("#holdemForm").serialize(),
                success: function (data) {
                    //console.log(data);
                    alert(data.rVal);
                    location.reload();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("패설정 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        $(document).on("click", "#btnReset", function () {
            location.reload();
        });

        $(document).on("click", ".cardImg", function () {
            if ($(this).hasClass("choiceReady")) {
                $(this).removeClass("choiceReady");
            } else {
                $(".cardImg").each(function () {
                    $(this).removeClass("choiceReady");
                })
                $(this).addClass("choiceReady");
                imgChange();
            }
        });

        $(document).on("click", ".UserImg", function () {
            if ($(this).hasClass("choiceReady")) {
                $(this).removeClass("choiceReady");
            } else {
                $(".UserImg").each(function () {
                    $(this).removeClass("choiceReady");
                })
                $(this).addClass("choiceReady");
                imgChange();
            }
        });

        function imgChange() {
            UserCard = -1;
            UserIdx = 0;
            cardImg = -1;

            // 유저 이미지 선택 체크
            $(".UserImg").each(function () {
                if ($(this).hasClass("choiceReady")) {
                    UserCard = $(this).attr("idx");
                    UserIdx = $(this).attr("UserIdx");
                }
            });

            // 이미지 선택 체크
            $(".cardImg").each(function () {
                if ($(this).hasClass("choiceReady")) {
                    cardImg = $(this).attr("idx");
                }
            });

            if (UserCard >= 0 && cardImg >= 0 ) {
                //console.log("두개가 다 있다면 서로 카드를 교환하자");
                // 유저카드 변경
                imgSet(0, cardImg, UserIdx);
            }

            //console.log("유저카드" + UserCard + "/ 이미지카드" + cardImg);
        }

        function imgSet(nType, Idx, UserIdx) {
            //alert(nType + ":" + Idx + ":" +UserIdx)
            // 유저 이미지 변경
            if (nType == 0) {
                $(".UserImg").each(function () {
                    if ($(this).hasClass("choiceReady")) {
                        $(this).attr("src", "/images/" + Idx + ".png");
                        $(this).attr("idx", Idx);
                        $("#User_" + UserIdx).val(Idx);
                    }
                });
            }
            // 카드 이미지 변경
            else
            {
                $(".cardImg").each(function () {
                    if ($(this).hasClass("choiceReady")) {
                        cardImg = $(this).attr("idx");
                    }
                });
            }

            for (var i = parseInt(UserIdx) + 1; i < (UserIdx + 12); i++) {
                if ((i % 12) == 0 && i != 0) {
                    break;
                }

                $("#User_" + i).val("0");
                $("#UserImg_" + i).attr("src", "/images/0.png");
                console.log(i + ": 이미지 삭제");
            }

                //User_
            imgchoiceSet();
        }


        function imgchoiceSet() {
            $(".UserImg").each(function () {
                $(this).removeClass("choiceReady");
            });

            $(".cardImg").each(function () {
                $(this).removeClass("choiceReady");
                $(this).removeClass("choice");
            });

            //$("input[name^=User_]").each(function () {
            //    if ($(this).val() != "0") {
            //        $("#img_" + $(this).val()).addClass("choice");
            //    }
            //});
        }

    </script>
}


