
@{
    ViewData["Title"] = "MemList";
    Layout = "~/Views/Shared/_LayoutTest.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>멤버 리스트
                <div class="pull-right action-buttons">
                    <div class="form-inline">
                        <select class="form-control" name="sKey" id="sKey">
                            <option value="">전체</option>
                            <option value="UserID">아이디</option>
                            <option value="Nick">닉네임</option>
                            <option value="Email">이메일</option>
                        </select>
                        <input class="form-control" type="text" name="sVal" id="sVal" value="" placeholder="검색어를 입력하세요." />
                        <div class="btn btn-success" id="btnSearch">검색</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>아이디</td>
                            <td>닉네임</td>
                            <td>머니</td>
                            <td>변경머니</td>
                            <td>실행</td>
                        </tr>
                    </thead>
                    <tbody id="List_Container"></tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="UserCards_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${UserID}</td>
            <td>${Nick}</td>
            <td>${nCommas(Money)}</td>
            <td><input class="form-control" type="number" name="uMoney_${UserIdx}" id="uMoney_${UserIdx}" value="0" /></td>
            <td>
                <div class="btn btn-danger" onclick="MoneyChange('${UserIdx}')">머니 변경</div>
            </td>
        </tr>
    </script>

    <script id="UserCardsEmpty_Tmpl" type="text/x-tmpl">
        <tr>
            <td colspan="5">유저가 존재하지 않습니다.</td>
        </tr>
    </script>

    <script>
        var PageSize = 20;
        var PageRow = 10;

        $(function () {
            List(1);
        });

        $(document).on("click", "#btnSearch", function () {
            List(1);
        });

        function List(PageNo) {

            pData = {
                "PageSize": PageSize,
                "PageNo": PageNo,
                "sKey": $("#sKey").val(),
                "sVal": $("#sVal").val()
            }

            $.ajax({
                url: "/Cmd/GetMemList",
                type: 'POST',
                data: pData,
                success: function (data) {
                    $("#List_Container").text("");
                    if (data.item2 == 0) {
                        $("#UserCardsEmpty_Tmpl").tmpl().appendTo("#List_Container");
                    } else {
                        $("#UserCards_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("유저 리스트 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    console.log(jqXHR);
                }
            });
        }

        goPaging_List = function (PageNo) {
            List(PageNo);
        }

        function MoneyChange(UserIdx) {
            var chMoney = $("#uMoney_" + UserIdx).val();
            if (chMoney < 0) {
                alert("변경할 머니는 0보다 커야 합니다.");
                return;
            }

            if ($.isNumeric(chMoney)) {
                if (confirm("입력한 머니를 반영하시겠습니까? 반영된 머니는 재 접속 후 가능합니다.")) {
                    $.ajax({
                        url: "/Cmd/SetMemMoneyOneChange",
                        type: 'POST',
                        data: { "UserIdx": UserIdx, "Money": chMoney },
                        success: function (data) {
                            alert(data.rVal);
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("유저 머니 변경 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                        }
                    });
                }
            } else {
                alert("숫자를 입력해야 합니다");
                return;
            }
        }
    </script>
}
