
@{
    ViewData["Title"] = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>FAQ 리스트
                <div class="pull-right action-buttons">
                    <div class="form-inline">
                        <select class="form-control" name="sKey" id="sKey">
                            <option value="">전체</option>
                            <option value="faq_title">제목</option>
                            <option value="faq_content">내용</option>
                        </select>
                        <input class="form-control" type="text" name="sVal" id="sVal" value="" placeholder="검색어를 입력하세요." />
                        <div class="btn btn-success" id="btnSearch">검색</div>
                        <div class="btn btn-primary" id="btnCreate" onclick="Create()">생성</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>제목</td>
                            <td>타입</td>
                            <td>날짜</td>
                            <td>상세</td>
                        </tr>
                    </thead>
                    <tbody id="List_Container"></tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="UserCards_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${NUM}</td>
            <td>${faq_title}</td>
            <td>${faq_Qtypeval}</td>
            <td>${GetDate01(faq_Date)}</td>
            <td>
                <div class="btn btn-danger" onclick="View('${faq_idx}')">상세</div>
            </td>
        </tr>
        <tr id="NoticeDetail_${faq_idx}" style="display: none;">
            <td colspan="5">
                <div>
                    <div class="btn btn-warning" onclick="Del('${faq_idx}')">삭제</div>
                    <div class="btn btn-primary" onclick="Edit('${faq_idx}')">수정</div>
                </div>
                <div>
                    <pre>${faq_content}</pre>
                </div>
            </td>
        </tr>
    </script>

    <script id="UserCardsEmpty_Tmpl" type="text/x-tmpl">
        <tr>
            <td colspan="5">FAQ가 존재하지 않습니다.</td>
        </tr>
    </script>

    <script id="NoticeCreate_Tmpl" type="text/x-jquery-tmpl">
        <form name="noticeForm" id="noticeForm" action="/" method="post">
            <input type="text" name="faq_idx" id="faq_idx" class="form-control" value="${faq_idx}" readonly="readonly" />
            <input type="text" name="faq_title" id="faq_title" class="form-control" placeholder="Title" required data-msg-required="제목을 입력해주세요." value="${faq_title}" />
            <textarea name="faq_content" id="faq_content" class="form-control" placeholder="Content" required data-msg-required="내용을 입력해주세요.">${faq_content}</textarea>
            <select name="faq_Gtype" id="faq_Gtype" class="form-control" placeholder="Game" required data-msg-required="게임을 선택해주세요.">
                <option value="">게임선택</option>
                <option value="1" {{if faq_Gtype == 1}}selected{{/if}}>홀덤</option>
                <option value="2" {{if faq_Gtype == 2}}selected{{/if}}>오마하</option>
                <option value="3" {{if faq_Gtype == 3}}selected{{/if}}>블랙젝</option>
                <option value="4" {{if faq_Gtype == 4}}selected{{/if}}>바카라</option>
                <option value="5" {{if faq_Gtype == 5}}selected{{/if}}>룰렛</option>
            </select>
            <select name="faq_Qtype" id="faq_Qtype" class="form-control" placeholder="State" required data-msg-required="공지타입을 선택해주세요.">
                <option value="1" {{if faq_Qtype == 1}} selected{{/if}}>게임관련문의</option>
                <option value="2" {{if faq_Qtype == 2}} selected{{/if}}>결제관련문의</option>
                <option value="3" {{if faq_Qtype == 3}} selected{{/if}}>설치/실행문의</option>
                <option value="4" {{if faq_Qtype == 4}} selected{{/if}}>개인정보문의</option>
                <option value="5" {{if faq_Qtype == 5}} selected{{/if}}>신고/이용제한</option>
                <option value="6" {{if faq_Qtype == 6}} selected{{/if}}>기타문의</option>
            </select>
            <select name="faq_Use" id="faq_Use" class="form-control" placeholder="State" required data-msg-required="사용유무를 선택해주세요.">
                <option value="0" {{if faq_Use == 0}}selected{{/if}}>사용</option>
                <option value="1" {{if faq_Use == 1}}selected{{/if}}>삭제</option>
            </select>
        </form>
    </script>

    <script>
        var PageSize = 20;
        var PageRow = 10;

        $(function () {
            List(1);
        });

        $(document).on("click", "#btnSearch", function () {
            List(1);
        });

        function List(PageNo) {

            pData = {
                "lan_idx": 1,
                "conType": "Admin",
                "PageSize": PageSize,
                "PageNo": PageNo,
                "seKey": $("#sKey").val(),
                "seVal": $("#sVal").val()
            }

            $.ajax({
                url: "@ViewBag.ApiUrl/Home/GetFaqList",
                type: 'POST',
                data: pData,
                success: function (data) {
                    console.log(data.item1)
                    $("#List_Container").text("");
                    if (data.item2 == 0) {
                        $("#UserCardsEmpty_Tmpl").tmpl().appendTo("#List_Container");
                    } else {
                        $("#UserCards_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("관리자 리스트 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        goPaging_List = function (PageNo) {
            List(PageNo);
        }

        function View(idx) {
            $("#NoticeDetail_" + idx).toggle();
        }

        function Create() {

            var data = {
                "faq_idx": 0,
                "faq_title": "",
                "faq_content": "",
                "faq_Gtype": 0,
                "faq_Qtype": 0,
                "faq_Use": 0,
                "faq_Date": "",
            }

            $("#PopupManage01_body").text("");
            $("#PopupManage01").modal("show");
            $("#PopupManage01_heading").text("FAQ 생성");
            $("#NoticeCreate_Tmpl").tmpl(data).appendTo("#PopupManage01_body");
        }

        $(document).on("click", "#btnPopup02", adSubmit);

        function adSubmit() {
            if ($("#noticeForm").valid()) {
                $.ajax({
                    url: "@ViewBag.ApiUrl/Manage/SetFaqCUD",
                    type: 'POST',
                    data: $("#noticeForm").serialize(),
                    success: function (data) {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
        }

        function Del(idx) {
            if (confirm("삭제하시겠습니까?")) {
                $.ajax({
                    url: "@ViewBag.ApiUrl/Manage/SetFaqCUD",
                    type: 'POST',
                    data: { "faq_idx": idx, "faq_Use": 1},
                    success: function (data) {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
            
        }

        function Edit(idx) {
            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/SetFaqDetail",
                type: 'POST',
                data: { "faq_idx": idx},
                success: function (data) {
                    console.log(data);
                    $("#PopupManage01_body").text("");
                    $("#PopupManage01").modal("show");
                    $("#PopupManage01_heading").text("FAQ 수정");
                    $("#NoticeCreate_Tmpl").tmpl(data).appendTo("#PopupManage01_body");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                    console.log(textStatus);
                    console.log(errorThrown);
                    console.log(jqXHR);
                }
            });
        }

    </script>
}


