
@{
    ViewData["Title"] = "GameSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>게임접속 설정
                <div class="pull-right action-buttons">
                    <div class="form-inline">
                        <div class="btn btn-primary" id="btnCreate" onclick="Create()">생성</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>No</td>
                            <td>게임</td>
                            <td>상태</td>
                            <td>변경</td>
                        </tr>
                    </thead>
                    <tbody id="List_Container">
                        <tr>
                            <td colspan="4">게임이 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="UserCards_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${g_Num}</td>
            <td>${g_Name}</td>
            <td>
                <select id="gUse_${g_idx}" class="form-control select">
                    <option value="0" {{if g_Use == 0}} selected {{/if}}>사용</option>
                    <option value="1" {{if g_Use == 1}} selected {{/if}}>미사용</option>
                </select>
            </td>
            <td>
                <div class="btn btn-danger" onclick="Edit('${g_idx}', '${g_Num}','${g_Name}')">변경</div>
            </td>
        </tr>
    </script>

    <script>
        $(function () {
            List(1);
        });

        function List() {

            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/GetGameType",
                type: 'POST',
                success: function (data) {
                    if (data.length != 0) {
                        $("#List_Container").text("");
                        $("#UserCards_Tmpl").tmpl(data).appendTo("#List_Container");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        function Edit(idx, nNum, sName) {

            if (confirm("수정하시겠습니까?\n\n게임에 영향을 끼칠수 있으니 신중하게 변경하세요.")) {
                $.ajax({
                    url: "@ViewBag.ApiUrl/Manage/SetGameTypeCUD",
                    type: 'POST',
                    data: { "g_idx": idx, "g_Num": nNum, "g_Name": sName, "g_Use": $("#gUse_" + idx).val(), "ad_idx": "@ViewBag.ad_idx", "ad_ip": "@ViewBag.ad_ip" },
                    success: function (data) {
                        alert(data.rVal);
                        location.reload();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
        }

    </script>
}