
@{
    ViewData["Title"] = "GameLog1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>게임로그
                <div class="pull-right action-buttons">
                    <div class="form-inline">
                        <select class="form-control" name="gg_Gtype" id="gg_Gtype"></select>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    @*// 리스트 해더 *@
                    <thead id="List_Header"></thead>
                    @*// 리스트 데이터 *@
                    <tbody id="List_Container">
                        <tr>
                            <td colspan="4">게임이 존재하지 않습니다.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script id="TimePayBlitz_Header_Tmpl" type="text/x-tmpl">
        <tr>
            <td>아이디</td>
            <td>닉네임</td>
            <td>배팅전</td>
            <td>배팅</td>
            <td>당첨</td>
            <td>배팅후</td>
            <td>결과</td>
            <td>배팅시간</td>
        </tr>
    </script>

    <script id="TimePayBlitz_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${UserID}</td>
            <td>${Nick}</td>
            <td>${nCommas(BeforeMoney)}</td>
            <td>${nCommas(TotalBet)}</td>
            <td>${nCommas(Prize)}</td>
            <td>${nCommas(AfterMoney)}</td>
            <td>
                <div style="width: 300px; height: 100px; overflow-y: auto;">
                    ${BetResult}
                </div>
            </td>
            <td>${GetDate03(BetTime)}</td>
        </tr>
    </script>

    <script id="Holdem_Header_Tmpl" type="text/x-tmpl">
        <tr>
            <td>아이디</td>
            <td>닉네임</td>
            <td>방</td>
            <td>순위</td>
            <td>유저머니</td>
            <td>윈머니</td>
            <td>배팅</td>
            <td>엔티</td>
            <td>족보</td>
            <td>카드</td>
            <td>배팅시간</td>
        </tr>
    </script>

    <script id="Holdem_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${UserID}</td>
            <td>${Nick}</td>
            <td>${Room}</td>
            <td>${Rank}</td>
            <td>${nCommas(UserMoney)}</td>
            <td>${nCommas(WinLoseMoney)}</td>
            <td>${nCommas(LastBetting)}</td>
            <td>${nCommas(SeedMoney)}</td>
            <td>${Jokbo}</td>
            <td>{{html CardInfoColor(CardInfo)}}</td>
            <td>${GetDate03(RegDate)}</td>
        </tr>
    </script>

    <script id="GameType_Tmpl" type="text/x-tmpl">
        <option value="${g_Num}">${g_Name}</option>
    </script>

    <script>

        var PageSize = 20;
        var PageRow = 10;

        $(function () {
            GameType();
        });

        function GameType() {
            $.ajax({
                url: "@ViewBag.ApiUrl/Home/GetGameType",
                type: 'POST',
                success: function (data) {
                    $("#GameType_Tmpl").tmpl(data).appendTo("#gg_Gtype");
                    List(1, data[0].g_Num);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("GameType Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        function List(PageNo, gType) {

            pData = {
                "PageSize": PageSize,
                "PageNo": PageNo,
                "sKey": $("#sKey").val(),
                "sVal": $("#sVal").val(),
                "gType": gType
            }

            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/GetGameLog",
                type: 'POST',
                data: pData,
                success: function (data) {

                    console.log(data);
                    $("#List_Container").text("");
                    $("#pageing").empty();
                    $("#Total").text(0);
                    // 홀덤 로그
                    if (gType == 1 && data.item2 > 0) {
                        if (PageNo == 1) {
                            $("#List_Header").text("");
                            $("#Holdem_Header_Tmpl").tmpl().appendTo("#List_Header");
                        }

                        $("#Holdem_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                    // 슬롯 로그
                    if (gType >= 11 && data.item2 > 0) {
                        if (PageNo == 1) {
                            $("#List_Header").text("");
                            $("#TimePayBlitz_Header_Tmpl").tmpl().appendTo("#List_Header");
                        }

                        $("#TimePayBlitz_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                    //$("#List_Container").text("");
                    //if (data.item2 == 0) {
                    //    $("#UserCardsEmpty_Tmpl").tmpl().appendTo("#List_Container");
                    //} else {
                    //    $("#UserCards_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                    //    $("#Total").text(data.item2);
                    //    var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                    //    $("#pageing").empty().html(page_viewList);
                    //}
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        goPaging_List = function (PageNo) {
            List(PageNo, $("#gg_Gtype").val());
        }

        $(document).on("change", "#gg_Gtype", function () {
            List(1, $(this).val());
        });

    </script>
}