@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>관리자 리스트
                <input type="hidden" name="sKey" id="sKey" value="" />
                <input type="hidden" name="sVal" id="sVal" value="" />
                <div class="btn btn-success" id="btnCreate">생성</div>
                @*<div class="pull-right action-buttons">
                        <div class="form-inline">
                            <select class="form-control" name="sKey" id="sKey">
                                <option value="">전체</option>
                                <option value="UserID">아이디</option>
                                <option value="Nick">닉네임</option>
                                <option value="Email">이메일</option>
                            </select>
                            <input class="form-control" type="text" name="sVal" id="sVal" value="" placeholder="검색어를 입력하세요." />
                            <div class="btn btn-success" id="btnSearch">검색</div>
                        </div>
                    </div>*@
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>아이디</td>
                            <td>이름</td>
                            <td>레벨</td>
                            <td>상태</td>
                            <td>비고</td>
                        </tr>
                    </thead>
                    <tbody id="List_Container"></tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="UserCards_Tmpl" type="text/x-tmpl">
        <tr>
            <td>${ad_id}</td>
            <td>${ad_name}</td>
            <td>${adLevelVal(ad_level)}</td>
            <td>{{if ad_use == 0}} 사용 {{else}} 삭제 {{/if}}</td>
            <td>
                <div class="btn btn-danger" onclick="adView('${ad_idx}')">상세</div>
            </td>
        </tr>
    </script>

    <script id="UserCardsEmpty_Tmpl" type="text/x-tmpl">
        <tr>
            <td colspan="5">관리자가 존재하지 않습니다.</td>
        </tr>
    </script>

    <script id="UserDetail_Tmpl" type="text/x-jquery-tmpl">
        <form name="adMemForm" id="adMemForm" action="/" method="post">
            <input type="hidden" name="cudType" id="cudType" readonly="readonly" value="U" />
            <input type="hidden" name="ad_idx" id="ad_idx" readonly="readonly" value="${ad_idx}" />
            <input type="text" name="ad_id" id="ad_id" class="form-control" placeholder="ID" required data-msg-required="아이디를 입력해주세요." value="${ad_id}" readonly="readonly" />
            <input type="password" name="ad_pw" id="ad_pw" class="form-control" placeholder="비번을 수정할때만 입력해주세요." />
            <input type="text" name="ad_name" id="ad_name" class="form-control" placeholder="Name" required data-msg-required="이름을 입력해주세요." value="${ad_name}" />
            <select name="ad_level" id="ad_level" class="form-control" placeholder="Level" required data-msg-required="레벨을 선택해주세요.">
                <option value="10" {{if ad_level == 10}} selected {{/if}}>최고관리자</option>
                <option value="9" {{if ad_level == 9}} selected {{/if}}>게임관리자</option>
                <option value="8" {{if ad_level == 8}} selected {{/if}}>캐시관리자</option>
                <option value="7" {{if ad_level == 7}} selected {{/if}}>고객센터관리자</option>
            </select>
            <select name="ad_use" id="ad_use" class="form-control" placeholder="State" required data-msg-required="사용유무를 선택해주세요.">
                <option value="0" {{if ad_use == 0}} selected {{/if}}>사용</option>
                <option value="1" {{if ad_use != 0}} selected {{/if}}>삭제</option>
            </select>
        </form>
    </script>

    <script id="UserCreate_Tmpl" type="text/x-jquery-tmpl">
        <form name="adMemForm" id="adMemForm" action="/" method="post">
            <input type="hidden" name="cudType" id="cudType" readonly="readonly" value="C" />
            <input type="hidden" name="ad_idx" id="ad_idx" readonly="readonly" value="0" />
            <input type="hidden" name="ad_idcheck" id="ad_idcheck" readonly="readonly" required data-msg-required="아이디체크가 이루어지지 않았습니다." />
            <input type="text" name="ad_id" id="ad_id" class="form-control" placeholder="ID" required data-msg-required="아이디를 입력해주세요." />
            <div class="btn btn-success form-control" id="btnIdCheck">아이디 체크</div>
            <input type="password" name="ad_pw" id="ad_pw" class="form-control" required placeholder="비번을 입력해주세요." />
            <input type="text" name="ad_name" id="ad_name" class="form-control" placeholder="Name" required data-msg-required="이름을 입력해주세요." />
            <select name="ad_level" id="ad_level" class="form-control" placeholder="Level" required data-msg-required="레벨을 선택해주세요.">
                <option value="10">최고관리자</option>
                <option value="9">게임관리자</option>
                <option value="8">캐시관리자</option>
                <option value="7" selected>고객센터관리자</option>
            </select>
            <select name="ad_use" id="ad_use" class="form-control" placeholder="State" required data-msg-required="사용유무를 선택해주세요.">
                <option value="0">사용</option>
                <option value="1">삭제</option>
            </select>
        </form>
    </script>

    <script>
        var PageSize = 20;
        var PageRow = 10;

        $(function () {
            List(1);
        });

        $(document).on("click", "#btnSearch", function () {
            List(1);
        });

        function List(PageNo) {

            pData = {
                "PageSize": PageSize,
                "PageNo": PageNo,
                "sKey": $("#sKey").val(),
                "sVal": $("#sVal").val()
            }

            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/GetAdMemList",
                type: 'POST',
                data: pData,
                success: function (data) {
                    $("#List_Container").text("");
                    if (data.item2 == 0) {
                        $("#UserCardsEmpty_Tmpl").tmpl().appendTo("#List_Container");
                    } else {
                        $("#UserCards_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("관리자 리스트 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        goPaging_List = function (PageNo) {
            List(PageNo);
        }

        function adView(idx) {

            $("#PopupManage01_body").text("");

            $("#PopupManage01").modal("show");
            $.ajax({
                url: "@ViewBag.ApiUrl/Manage/GetAdMemDetail",
                type: 'POST',
                data: { "ad_idx": idx},
                success: function (data) {
                    //console.log(data);
                    $("#PopupManage01_heading").text("관리자 상세보기");
                    $("#UserDetail_Tmpl").tmpl(data).appendTo("#PopupManage01_body");

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("관리자 상세 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        $(document).on("click", "#btnPopup02", adSubmit);

        function adSubmit() {
            //GetAdMemCud
            if ($("#adMemForm").valid()) {

                    $.ajax({
                        url: "@ViewBag.ApiUrl/Manage/GetAdMemCud",
                        type: 'POST',
                        data: $("#adMemForm").serialize(),
                        success: function (data) {
                            alert(data.rVal);
                            if (data.rCnt == 0) {
                                location.reload();
                            }
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                            console.log(jqXHR);
                        }
                    });
                }
        }

        $(document).on("click", "#btnCreate", function () {
            $("#PopupManage01_body").text("");
            $("#PopupManage01").modal("show");
            $("#PopupManage01_heading").text("관리자 생성");
            $("#UserCreate_Tmpl").tmpl().appendTo("#PopupManage01_body");
        });

        $(document).on("click", "#btnIdCheck", function () {
            if ($("#ad_id").val() == "") {
                alert("아이디를 입력해주세요.");
                return;
            } else {
                $.ajax({
                    url: "@ViewBag.ApiUrl/Manage/GetAdMemIdCheck",
                    type: 'POST',
                    data: { "ad_id": $("#ad_id").val()},
                    success: function (data) {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            $("#ad_id").attr("readonly", true);
                            $("#btnIdCheck").hide();
                            $("#ad_idcheck").val(data.rCnt);
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
        });

    </script>
}
