
@{
    ViewData["Title"] = "Qna";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-list"></span>QNA 리스트
                <div class="pull-right action-buttons">
                    <div class="form-inline">
                        <select class="form-control" name="sKey" id="sKey">
                            <option value="">전체</option>
                            <option value="sb_UserID">아이디</option>
                            <option value="sb_content">내용</option>
                        </select>
                        <input class="form-control" type="text" name="sVal" id="sVal" value="" placeholder="검색어를 입력하세요." />
                        <input type="hidden" name="sKey1" id="sKey1" value="" />
                        <input type="hidden" name="sVal1" id="sVal1" value="" />
                        <div class="btn btn-success" id="btnSearch">검색</div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td>작성자</td>
                            <td>타입</td>
                            <td>상태</td>
                            <td>날짜</td>
                            <td>상세</td>
                        </tr>
                    </thead>
                    <tbody id="List_Container"></tbody>
                </table>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6">
                        <h6>
                            Total Count <span class="label label-info" id="Total">0</span>
                        </h6>
                    </div>
                    <div class="col-md-6">
                        <ul class="pagination pagination-sm pull-right" id="pageing">
                            <li class="disabled"><a href="#">«</a></li>
                            <li><a href="#">0</a></li>
                            <li class="disabled"><a href="#">»</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script id="UserCards_Tmpl" type="text/x-tmpl">
        <tr>
            <td>
                {{if sb_UserID == null}}
                게스트
                {{else}}
                ${sb_UserID}
                {{/if}}
            </td>
            <td>${sb_qtypeval}</td>
            <td>${sb_useval}</td>
            <td>${GetDate01(sb_Udate)}</td>
            <td>
                <div class="btn btn-danger" onclick="View('${sb_idx}')">상세</div>
            </td>
        </tr>
        <tr id="NoticeDetail_${sb_idx}" style="display: none;">
            <td colspan="5">
                <div>
                    <div class="btn btn-warning" onclick="Del('${sb_idx}')">삭제</div>
                    {{if sb_use == 0}}
                    <div class="btn btn-primary" onclick="Reply('${sb_idx}', 2, '${sb_qtype}')">답변</div>
                    {{/if}}
                </div>
                <div>
                    <pre>${sb_content}</pre>
                </div>
                {{if sb_use != 0}}
                <div>
                    <pre>${sb_answer}</pre>
                </div>
                {{else}}
                <div>
                    <select id="sb_qtype_${sb_idx}" class="form-control">
                        <option value="1" {{if sb_qtype == 1}} selected{{/if}}>게임관련문의</option>
                        <option value="2" {{if sb_qtype == 2}} selected{{/if}}>결제관련문의</option>
                        <option value="3" {{if sb_qtype == 3}} selected{{/if}}>설치/실행문의</option>
                        <option value="4" {{if sb_qtype == 4}} selected{{/if}}>개인정보문의</option>
                        <option value="5" {{if sb_qtype == 5}} selected{{/if}}>신고/이용제한</option>
                        <option value="6" {{if sb_qtype == 6}} selected{{/if}}>기타문의</option>
                    </select>
                    <textarea class="form-control" id="qnaReply_${sb_idx}" onclick="textHeight('${sb_idx}');" style="resize: none;"></textarea>
                </div>
                {{/if}}
            </td>
        </tr>
    </script>

    <script id="UserCardsEmpty_Tmpl" type="text/x-tmpl">
        <tr>
            <td colspan="5">QNA가 존재하지 않습니다.</td>
        </tr>
    </script>

    <script>
        var PageSize = 20;
        var PageRow = 10;

        $(function () {
            List(1);
        });

        $(document).on("click", "#btnSearch", function () {
            List(1);
        });

        function List(PageNo) {

            pData = {
                "lan_idx": 1,
                "conType": "Admin",
                "PageSize": PageSize,
                "PageNo": PageNo,
                "seKey": $("#sKey").val(),
                "seVal": $("#sVal").val(),
                "seKey1": $("#seKey1").val(),
                "seVAl1": $("#seVAl1").val()
            }

            $.ajax({
                url: "@ViewBag.ApiUrl/Home/GetServiceCenter",
                type: 'POST',
                data: pData,
                success: function (data) {
                    console.log(data.item1)
                    $("#List_Container").text("");
                    if (data.item2 == 0) {
                        $("#UserCardsEmpty_Tmpl").tmpl().appendTo("#List_Container");
                    } else {
                        $("#UserCards_Tmpl").tmpl(data.item1).appendTo("#List_Container");
                        $("#Total").text(data.item2);
                        var page_viewList = Paging(data.item2, PageSize, PageRow, PageNo, "List");
                        $("#pageing").empty().html(page_viewList);
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("관리자 리스트 Error \n" + textStatus + " : " + errorThrown + "::" + jqXHR);
                }
            });
        }

        goPaging_List = function (PageNo) {
            List(PageNo);
        }

        function View(idx) {
            $("#NoticeDetail_" + idx).toggle();
        }

        $(document).on("click", "#btnPopup02", adSubmit);

        function adSubmit() {
            if ($("#noticeForm").valid()) {
                $.ajax({
                    url: "@ViewBag.ApiUrl/Manage/SetFaqCUD",
                    type: 'POST',
                    data: $("#noticeForm").serialize(),
                    success: function (data) {
                        alert(data.rVal);
                        if (data.rCnt == 0) {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
        }

        function Del(idx) {
            if (confirm("삭제하시겠습니까?")) {
                pData = {
                    "lan_idx": 1,
                    "conType": "ADMIN",
                    "sbUserID": "",
                    "sb_idx": idx,
                    "sb_content": "",
                    "sb_use": 3,
                    "sb_email": "",
                    "sb_phone": "",
                    "sbGtype": 0,
                    "sbQtype": 0
                };

                $.ajax({
                    url: "@ViewBag.ApiUrl/Home/SetServiceCenterCUD",
                    type: 'POST',
                    data: pData,
                    success: function (data) {
                        alert(data.rVal)
                        if (data.rCnt == 0) {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }

        }

        function Reply(idx, sb_use, sb_gtype, sb_qtype) {

            var reply = $("#qnaReply_" + idx).val();

            if (reply == "") {
                alert("답변을 입력하셔야 합니다.");
                return;
            } else {

                pData = {
                    "lan_idx": 1,
                    "conType": "ADMIN",
                    "sbUserID": "",
                    "sb_idx": idx,
                    "sb_content": reply,
                    "sb_use": sb_use,
                    "sb_email": "",
                    "sb_phone": "",
                    "sbGtype": sb_gtype,
                    "sbQtype": $("#sb_qtype_" + idx).val()
                };

                $.ajax({
                    url: "@ViewBag.ApiUrl/Home/SetServiceCenterCUD",
                    type: 'POST',
                    data: pData,
                    success: function (data) {
                        alert(data.rVal)
                        if (data.rCnt == 0) {
                            location.reload();
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("Login Local Error \n" + textStatus + " : " + errorThrown + ":" + jqXHR);
                        console.log(textStatus);
                        console.log(errorThrown);
                        console.log(jqXHR);
                    }
                });
            }
        }

        function textHeight(idx) {
            $("#qnaReply_" + idx).css("height", "200px");
        }

    </script>
}




